.tooltip{
    position: absolute;
    left: 0px;
    top: 0px;
    background: #7114E7;
    color: #fff;
    border-radius: 14px;
    transition: all .25s ease;
    opacity: 0;
    font-size: .85rem;
    max-width: 280px;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -5px;
}